@media (max-width: 370px) {
	.scan-btn{
		width: 50px;
		height: 50px;
	}
	.scan-btn img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 320px) {
	.scan-btn img {
		width: 24px;
		height: 24px;
	}
	.scan-btn{
		width: 48px;
		height: 48px;
	}
	.plus-btn{
		padding: 10px;
	}
	.about__info{
		text-align: center;
		flex-wrap: wrap;
		justify-content: center;
	}
	.mt-30{
		margin-top: 25px;
	}
	.scan-content {
		width: 100%;
		height: auto;
	}
	.scanner img{
		width: 100%;
		height: auto;
	}
	.profile-sec{
		flex-wrap: wrap;
		justify-content: center;
	}
	.add-to-btn-sec {
		padding: 6px 6px 6px 18px;
	}
}
@media (max-width: 280px) {
	.add-to-contact-wrap{
		flex-wrap: wrap;
	}
	.add-to-btn{
		margin-left: inherit;
	}
	.qr-btn,
	.recent-single-post{
		flex-wrap: wrap;
	}
	.btn1 {
		width: 100%;
	}
}
