@media (max-width: 991px) {
	.background-img{
		display: none;
	}
}
@media (max-width: 370px) {
	.scan-btn{
		width: 50px;
		height: 50px;
	}
	.scan-btn img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 320px) {
	.scan-btn img {
		width: 24px;
		height: 24px;
	}
	.scan-btn{
		width: 48px;
		height: 48px;
	}
	.plus-btn{
		padding: 10px;
	}
	.scanner img {
		width: 100%;
		height: auto;
	}
	.scan-content {
		width: 100%;
		height: auto;
	}
	.mt-30 {
		margin-top: 25px;
	}
	.about-bottom-sec h2{
		font-size: 22px;
	}
	.blog_title h2{
		font-size: 18px;
		line-height: 28px;
	}
	.add-to-btn-sec {
		padding: 6px 6px 6px 18px;
	}
}
@media (max-width: 280px) {
	.add-to-contact-wrap{
		flex-wrap: wrap;
	}
	.add-to-btn{
		margin-left: inherit;
	}
	.content-part{
		padding: 20px;
	}
	.btn1 {
		width: 100%;
	}
	.profile-sec{
		flex-wrap: wrap;
		justify-content: center;
	}
	.profile-name{
		text-align: center;
	}
	.qr-btn {
		flex-wrap: wrap;
	}
}