@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    video {
        width: 100%;
    }
}
@media (min-width:380px) and (max-width:425px) {
    .container {
        width: 100%;
    }
}
@media (max-width:380px) {
    .container {
        width: 100%;
    }
    .video-bg img {
        left: 0px;
        bottom: 3%;
    }
    .contact-time-list {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 180px;
        max-height: 100%;
    }
    .design-main-member {
        max-width: 130px;
        max-height: 130px;
    }
    .border-design {
        top: 43%;
        left: 43%;
        width: 85%;
        height: 85%;
    }
    .member-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #111829;
        margin-top: 5px;
    }
    .title-about {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #040404;
    }
    .testimonial-all-design .slick-track {
        height: 215px;
    }
    .title-design-main {
        margin: 20px 0;
        margin-bottom: 15px;
    }
    .blog-title {
        font-size: 17px;
        line-height: 28px;
    }
    .services-title {
        font-size: 18px;
        line-height: 30px;
    }
    .title-data-services {
        font-size: 17px;
        line-height: 28px;
    }
    .faq-question p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}