@media (max-width: 370px) {
	.scan-btn{
		width: 50px;
		height: 50px;
	}
	.scan-btn img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 320px) {
	.scan-btn img {
		width: 24px;
		height: 24px;
	}
	.scan-btn{
		width: 48px;
		height: 48px;
	}
	.plus-btn{
		padding: 10px;
	}
	.service-icon-content{
		flex-wrap: wrap;
	}
	.mt-30{
		margin-top: 25px;
	}
	.scan-content {
		width: 100%;
		height: auto;
	}
	.scanner img{
		width: 100%;
		height: auto;
	}
	.project-details h2{
		font-size: 20px;
		line-height: 30px;
	}
	.add-to-btn-sec{
		padding: 6px 6px 6px 18px;
	}
	.profile-sec-content{
		margin-top: 20px;
	}
	.profile-name h1{
		font-size: 20px;
		line-height: 30px;
	}
	.profile-sec{
		align-items: center;
	}
	.profile-name p{
		margin-top: 8px;
	}
}
@media (max-width: 280px) {
	.add-to-contact-wrap,
	.profile-sec{
		flex-wrap: wrap;
	}
	.add-to-btn{
		margin-left: inherit;
	}
	.qr-btn{
		flex-wrap: wrap;
	}
	.btn1 {
		width: 100%;
	}
	.profile-sec{
		justify-content: center;
	}
}
