/*------------------------------------------------------------------
Project:Laywer Template
Author: The_Krishna        
-------------------------------------------------------------------*/

/*----------------Table of contents Start---------------------------
1.Default css
2.Hero css
3.Social media css
4.About css
5.Services css
6.Case css
7.Appointment css
8.Datepicker css
9.Blog css
10.Inquiry css
11.Contact css
12.Bottom css
13.Scanner modal popup css
14.Share modal popup css
15.Testimonial css
16.Single blog css
17.Preloader css

---------Table of contents End-----------------------------------*/

/*------------------------ [Color codes] ------------------------                     
Background:#1a243f, #a6725d
Content: #a6725d, #141414, #737373  
-------------------------------------------------------------------*/

/************************ 1.Default css ***************************/
html {
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	height: 100%;
}
*, ::after, ::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a:focus, a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
body {
	max-width: 425px;
	margin: 0 auto;
	height: 100%;
	background: #1a243f;
}
svg{
	vertical-align: middle;
}
input{
	outline-width: 0;
	outline-offset: 0;
	outline: 0;
	border: none;
	outline: none;
	width: 100%;
}
textarea{
	outline-width: 0;
	outline-offset: 0;
	outline: 0;
	resize: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.overflow{
	overflow-y: scroll;
}
.container{
	padding: 0 16px;
}
.mt-30{
	margin-top: 30px;
}
.mt-15{
	margin-top: 15px;
}
.mt-20{
	margin-top: 20px;
}
.mt-10{
	margin-top: 10px;
}
.mt-5{
	margin-top: 5px !important;
}
.pt-20{
	padding-top: 20px;
}
.mlr-auto{
	margin-left: auto;
	margin-right: auto;
}
.ceo-content {
	position: relative;
	background: #ffffff;
	width: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.brown-color{
	filter: brightness(0) saturate(100%) invert(44%) sepia(23%) saturate(726%) hue-rotate(332deg) brightness(103%) contrast(87%);
}
::-webkit-scrollbar { 
    display: none; 
}
.site-content{
	width: 100%;
	height: 100%;
}

/************************ 2.Hero css ***************************/
.hero-sec-main {
    position: relative;
}
.menupage-1-reser-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(11 19 21 / 60%);
}
.bottom-shape {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    color: white;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px 0 16px;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-logo {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    background: #ffffff;
    backdrop-filter: blur(8px);
}
.custom-language-btn {
	padding: 0;
	margin: 0;
	padding: 4px 8px 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	height: 32px;
	border-width: 0 !important;
	border-radius: 16px;
	background: var(--20, #A6725D);
	backdrop-filter: blur(8px);
	color: var(--1, #FFF);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
.profile-sec-content {
	margin-top: -60px;
	z-index: 99;
	position: relative;
}
.profile-sec {
	display: flex;
    align-items: end;
    gap: 16px;
    width: 100%;
    flex-direction: row-reverse;
}
.oval-frame {
	border-radius: 24px;
}
.profile-name h1 {
	color: var(--20, #A6725D);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
}
.profile-name p {
	color: var(--26, #141414);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	margin-top: 5px;
}
.custom-language-btn:hover, .custom-language-btn:active, .custom-language-btn:focus, .dropdown-item:active, .btn.show, .dropdown-item:hover {
	background: var(--20, #a6725d) !important;
	color: var(--1, #FFF) !important;
}
.flag-icon {
    width: 25px;
    height: 20px;
    margin-right: 10px;
}
.dropdown-item {
    color: var(--14, #000000);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/************************ 3.Social media css ***************************/
.social-icon-content {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.social-icon-content-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background: #a6725d;
	border-radius: 12px;
	padding: 8px;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out;
	transform: translateY(0px);
	clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
.social-icon-content-wrap:hover {
	transform: translateY(-6px);
	transition: all 0.3s ease-in-out;
	border-radius: 0%;
	clip-path: none;
}
.social-icon-para p {
	color: var(--26, #737373);
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

/************************ 4.About css ***************************/
.top-title h2 {
	color: var(--11, #a6725d);
	text-align: center;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	border-bottom: 2px solid;
	padding-bottom: 5px;
	width: fit-content;
	margin: 0 auto;
}
.icon-img {
	padding-right: 5px;
}
.about-list li {
	display: flex;
	align-items: center;
	gap: 12px;
}
.about-list li img {
	width: 20px;
	height: 20px;
}
.about-us-bottom p{
	color: var(--14, #737373);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
	text-align: center;
}
.about-us-bottom h3 {
	color: var(--26, rgb(166 114 93 / 80%));
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
}
.about-list li p{
	color: var(--14, #737373);
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

/************************ 5.Services css ***************************/
.service-box {
	position: relative;
	width: 100%;
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	z-index: 0;
	overflow: hidden;
}
.service-icon-content {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 100%;
}
.service-icon {
	width: 70px;
	height: 70px;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}
.service-icon-txt h3 {
	color: var(--26, #141414);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
}
.service-box p {
	color: var(--26, #737373);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}

/************************ 6.Case css ***************************/
.case-img {
	position: relative;
	display: block;
	overflow: hidden;
}
.case-img:before {
	content: "";
	position: absolute;
	background-color: #162542;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0.1);
	transition: all 0.3s ease-out 0s;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}
.case-img>img {
	width: 300px;
	height: 250px;
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}
.case-hover-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50%) scale(0);
	transition: all 0.3s ease-in-out;
}
.case-hover-box a {
	width: 40px;
	height: 40px;
	background-color: #a6725d;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}
.case-box:hover .case-img:before {
	opacity: 0.85;
	transform: scale(1);
	visibility: visible;
}
.case-box:hover .case-img>img {
	transform: scale(1.05);
}
.case-box:hover .case-hover-box {
	opacity: 1;
	visibility: visible;
	transform: translateY(-50%) scale(1);
}
.marquee__content {
	display: flex;
	align-items: center;
	gap: 15px;

	padding: 0 16px 0 16px;
}
.logos-slide {
	animation: 70s slide infinite linear;
}
@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

/************************ 7.Appointment css ***************************/
.appointment-form {
	width: 100%;
}
.info-person,
.contact-content h4 {
	color: var(--14, #a6725d);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 14px;
	width: 100%;
	text-transform: uppercase;
}
.input-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px;
	column-gap: 12px;
	border-radius: 12px;
	border: 1px solid var(--10, #A6A6A6);
}
.input-wrapper input,
.input-wrapper-form input,
.input-wrapper-form textarea,
.contact-content p {
	color: var(--10, #A6A6A6);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.contact-content p:hover{
	text-decoration: underline;
	color: #a6725d !important;
	transition: all 0.3s ease-in-out; 
}
.input-wrapper input,
select.custom-select{
	background: transparent;
}
.appointment-sec .about-title h2:after {
	margin-right: -70%;
}
.custom-select{
	color: var(--10, #A6A6A6);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
select:focus-visible {
	outline-offset: 0px;
	outline: none;
}
.custom-select option {
	color: #141414;
	font-size: 18px;
	font-family: Lexend;
	line-height: 24px;
	background: #ffffff;
}
.view-product a {
	color: var(--1, #ffffff);
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	background: var(--15, #a6725d);
	padding: 13px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
    z-index: 1;
    overflow: hidden;
    border: 2px solid #a6725d;
}
.view-product a::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
    transition: all 0.3s ease-in-out;
    content: "";
    background: #ffffff;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}
.view-product a:hover::after {
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
}
.view-product a:hover{
	color: #a6725d;
}

/************************ 8.Datepicker css ***************************/
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url(../svg/right-arrow.svg);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 50%;
}
.ui-datepicker-header a.ui-datepicker-prev {
	left: 0;
	background: url(../svg/right-arrow.svg);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a>span {
	display: none;
}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
div#ui-datepicker-div {
	z-index: 500 !important;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: all 0.3s ease-in-out;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
	background-color: #a6725d;
	color: white;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #a6725d;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: all 0.3s ease-in-out;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 32px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 500;
}

/************************ 9.Blog css ***************************/
.blog-item {
	border-radius: 24px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
	padding: 16px;
}
.blog-item .blog-inner span{
	display: block;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 165px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -20px;
	font-family: Poppins;
	background-color: #a6725d;
	color: white;
}
.blog-item .blog-inner ul li,
.blog-item .blog-inner ul li a {
	list-style-type: none;
	display: inline-block;
	color: #a6725d;
	font-size: 14px;
	margin-right: 20px;
}
.blog-item a img {
	border-radius: 8px 8px 0 0;
}
.blog-inner h3 a {
	color: var(--26, #141414);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	display: flex;
}
.blog-inner p {
	color: var(--26, #737373);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.blog-link {
	color: var(--26, #a6725d);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	display: flex;
}

/************************ 10.Inquiry css ***************************/
.input-wrapper-form {
	border-radius: 12px;
	border: 1px solid var(--10, #A6A6A6);
	background: var(--1, #FFF);
	box-shadow: 5px 5px 10px 0px rgba(166, 166, 166, 0.20);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 6px;
	width: 100%;
}

/************************ 11.Contact css ***************************/
.contact-details {
	display: flex;
	gap: 12px;
	border-radius: 12px;
	background: rgb(166 114 93 / 10%);
	padding: 12px;
}
.contact-icon {
	border-radius: 6px;
	background: var(--2, #a6725d);
	padding: 10px;
	width: 44px;
	height: 44px;
}
.contact-icon img {
	filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%) hue-rotate(29deg) brightness(103%) contrast(103%);
}
.contact-content p{
	color: var(--2, #000) !important;
}
.contact-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact-list .time-txt {
	font-weight: 400;
	width: 55%;
}
.days-txt {
	font-weight: 500;
}
.contact-content {
	width: 90%;
}
.days-txt,
.contact-list .time-txt{
	color: var(--2, #000);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	line-height: 26px;
}
.map-img iframe {
	width: 100%;
	height: 250px;
	border-radius: 12px;
}

/************************ 12.Bottom css ***************************/
.add-to-contact-wrap {
	display: flex;
	align-items: center;
	gap: 12px;
}
.scan-btn {
	width: 60px;
	height: 60px;
	background: var(--15, #a6725d);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-to-btn-sec {
	display: flex;
	align-items: center;
	border-radius: 30px;
	background: var(--2, #000);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.32);
	padding: 6px 6px 6px 30px;
	justify-content: end;
	width: fit-content;
	gap: 8px;
}
.add-txt {
	color: var(--1, #FFF);
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}
.plus-btn {
	border-radius: 24px;
	background: var(--1, #FFF);
	padding: 12px;
}
.add-to-contact {
	position: fixed;
	width: 100%;
	bottom: 0;
	max-width: 425px;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	z-index: 99;
}
.footer p {
	color: var(--2, #000);
	text-align: center;
}
.add-to-btn {
	margin-left: auto;
}

/************************ 13.Scanner modal popup css ***************************/
#product-modal,
#share-media-modal,
#blog1-modal {
	background: linear-gradient(180deg, rgba(18, 21, 28, 0.56) 0%, rgba(18, 21, 28, 0.24) 100%);
	backdrop-filter: blur(4px);
}
#product-modal .modal-content,
#share-media-modal .modal-content {
	border-radius: 24px;
}
.scan-content {
	text-align: center;
	border: 2px solid #a6725d;
	height: auto;
	width: 250px;
	margin: 0 auto;
	padding: 12px;
	border-radius: 8px;
}
.scanner img {
	width: 100%;
    height: auto;
}
.scan-txt {
	padding: 14px;
	background: #a6725d;
	border-radius: 8px;
}
.scan-txt p {
	color: var(--2, #fff);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
.btn1 a {
	color: var(--1, #FFF);
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	border-radius: 8px;
	background: #000000;
	padding: 12px 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.qr-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.btn1 {
	width: 140px;
}
.modal-title{
	color: var(--2, #000);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px; 
}

/************************ 14.Share modal popup css ***************************/
.social-media-content {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.social-media-img {
	width: 60px;
	height: 60px;
	background: transparent;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out; 
}
.social-media-img:hover {
	background: #a6725d;
	transition: all 0.3s ease-in-out;
}
.social-media-img img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(99%) saturate(3%) hue-rotate(13deg) brightness(99%) contrast(100%);
	width: 30px;
	height: 30px;
}
.social-media-img:hover.social-media-img img{
	filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7%) hue-rotate(323deg) brightness(104%) contrast(102%);
	transition: all 0.3s ease-in-out;
}
.btn-close {
	opacity: 1;
}
.btn-close:focus{
	box-shadow: none;
}

/************************ 15.Testimonial css ***************************/
.ratings li {
	display: inline-flex;
	height: 20px;
}
.testimonial-content {
	padding: 20px;
	border: 1px solid var(--10, #A6A6A6);
	border-radius: 8px;
}
.quote {
	background: #a6725d;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.quote img {
	width: 18px;
}
.author-quote-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.author-thumb-item {
	display: flex;
	align-items: center;
	gap: 12px;
}
.author-thumb img{
	border-radius: 50%;
}
.testimonial-content p {
	color: var(--26, #737373);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.author-info h5 {
	color: var(--2, #000);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}
.author-info span {
	color: var(--14, #737373);
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

/************************ 16.Single blog css ***************************/
.project-details p{
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	color: var(--14, #737373);
	text-align: center;
}
.project-details h2{
	color: var(--2, #000);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 35px;
	text-align: center;
}
.blog-modal-img{
	border-radius: 24px;
}
.border-blog{
	border-radius: 12px;
	border: 1px solid var(--10, #A6A6A6);
	background: var(--1, #FFF);
	box-shadow: 5px 5px 10px 0px rgba(166, 166, 166, 0.20);
	padding: 12px;
}
.project-details1 h3{
	color: var(--2, #000);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}
.project-details1 p{
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	color: var(--14, #737373);
}
.blog-list li {
	color: var(--29, #271F1F);
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	margin-top: 10px;
}
.blog-list{
	margin-bottom: 0 !important;
}
.btn-close {
	opacity: 1;
}
.btn-close:focus{
	box-shadow: none !important;
}

/************************ 17.Preloader css ***************************/
.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	background: -o-radial-gradient(circle, #333, #000) no-repeat;
	background: radial-gradient(circle, #333, #000) no-repeat;
	 z-index: 20000;
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preloader1 {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.65);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    animation: preloader1 1s ease-in infinite;
    position: absolute;
    margin-left: -30px;
    top: 45%;
}
.spinner {
    display: table-cell;
    vertical-align: middle;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #a6725d;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
@keyframes preloader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
canvas {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    left: 0;
}