@media (max-width: 400px) {
	.bottom-shape svg {
		width: auto;
	}
}
@media (max-width: 370px) {
	.scan-btn{
		width: 50px;
		height: 50px;
	}
	.scan-btn img{
		width: 30px;
		height: 30px;
	}
}
@media (max-width: 320px) {
	.add-to-btn-sec {
		padding: 6px 6px 6px 18px;
	}
	.scan-btn {
		width: 48px;
		height: 48px;
	}
	.scanner img {
		width: 100%;
		height: auto;
	}
	.scan-content {
		width: 100%;
		height: auto;
	}
	.mt-30 {
		margin-top: 25px;
	}
	.plus-btn{
		padding: 10px;
	}
	.hero-bottom-sec{
		flex-wrap: wrap;
	}
	.scan-btn img {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 280px) {
	.qr-btn {
		flex-wrap: wrap;
	}
	.btn1 {
		width: 100%;
	}
	.add-to-contact-wrap {
		flex-wrap: wrap;
	}
	.add-to-btn {
		margin-left: inherit;
	}
}