@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    video {
        width: 100%;
    }
}
@media (min-width:380px) and (max-width:425px) {
    .container {
        width: 100%;
    }
}
@media (max-width:380px) {
    .container {
        width: 100%;
    }
    .video-bg img {
        left: 0px;
        bottom: 3%;
    }
    .contact-time-list {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 180px;
        max-height: 100%;
    }
    .image-about-second {
        max-width: 220px;
        bottom: -15%;
    }
    .title-about {
        font-size: 20px;
        line-height: 26px;
    }
    .title-work {
        font-size: 20px;
        line-height: 26px;
    }
    .blog-title {
        font-size: 20px;
        line-height: 28px;
    }
    .video-bg .wave {
        position: absolute;
        bottom: 1%;
    }
    .title-data-services {
        font-size: 17px;
        line-height: 28px;
    }
    .faq-question p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}