@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    video {
        width: 100%;
    }
}

@media (min-width:380px) and (max-width:425px) {
    .container {
        width: 100%;
    }
}

@media (max-width:380px) {
    .container {
        width: 100%;
    }

    .video-bg img {
        left: 0px;
        bottom: 3%;
    }

    .contact-time-list {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 180px;
        max-height: 100%;
    }

    .title-main {
        font-size: 17px;
        line-height: 24px;
    }

    .design-main-member {
        max-width: 130px;
        max-height: 130px;
    }

    .border-design {
        top: 42%;
        left: 42%;
    }

    .member-name {
        font-size: 16px;
        line-height: 24px;
    }

    .bloger-title-spe {
        font-size: 16px;
        line-height: 24px;
    }

    .bloger-name {
        gap: 1px;
    }

    .title-data-services {
        font-size: 17px;
        line-height: 28px;
    }

    .faq-question p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}