/*------------------------------------------------------------------
Project:Digi vcard
Author: The_Krishna        
-------------------------------------------------------------------*/
/*----------------Table of contents Start---------------------------
1.index.html 
---------Table of contents End-----------------------------------*/
/*------------------------ [Color codes] ------------------------                     
Background:
Content:
-------------------------------------------------------------------*/
/*----------------------- [ Default css ] -----------------------*/
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    display: none;
}
*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a:focus, a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
svg {
    vertical-align: middle;
}
input {
    outline-width: 0;
    outline-offset: 0;
    outline: 0;
    border: none;
    outline: none;
    width: 100%;
}
textarea {
    outline-width: 0;
    outline-offset: 0;
    outline: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body {
    width: 100%;
    max-width: 425px;
    margin: auto;
    overflow-x: hidden;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    background-color: #042d2f;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5111829s ease-in-out 0s;
    -webkit-text-fill-color: transparent !important;
}
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    background-clip: content-box;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
/* ------------------------ [ Pre loader design ] ---------------------- */
.preloader {
    position: fixed;
    background-color: #042d2f;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
/* From Uiverse.io by Juanes200122 */
.loader {
    width: 68px;
    height: 68px;
    border: 3px dotted #fff;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #109c3d;
    border-style: solid solid dotted;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
/* ------------- BG Design ----------------- */
/* ---------------------------------------- [ Bg-design end ] */
.site-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    background-color: #FFF;
    padding-bottom: 30px;
}
.video-bg {
    width: 100%;
    position: relative;
    overflow: hidden;
}
video {
    width: 100%;
}
iframe {
    width: 100%;
    height: 240px;
    max-height: 100%;
}
.video-bg img {
    position: absolute;
    width: 100%;
    bottom: 2%;
    left: 0px;
}
.logo {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(18px);
    background: linear-gradient(180deg, #8a8a8a7d, #7777774d);
    border-radius: 36px;
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 100%;
    max-width: 50px;
}
.dropdown-menu.show {
    display: flex !important;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 10px;
}
.dropdown-item {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
.dropdown-toggle::after {
    display: inline-block;
    position: static;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(1px) scale(0.98);
    transition:
        opacity 0.35s ease-in-out,
        transform 0.35s ease-in-out,
        visibility 0.35s ease-in-out;
    transform-origin: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #FFF;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    outlnie: none;
    width: 135px !important;
    --bs-dropdown-min-width: 140px !important;
    outline: none;
    border: none;
    pointer-events: none;
}
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px) scale(0);
    pointer-events: auto;
}
.dropdown-menu li {
    width: 100%;
}
.logo-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.btn:hover {
    color: #111829 !important;
    background-color: #FFF !important;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #FFF !important;
}
.hero-class {
    width: 100%;
    padding: 0 10px;
}
.input-wrapper-form {
    border-radius: 12px;
    border: 1px solid #FFF;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    width: 100%;
    margin-top: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input-wrapper-form i {
    font-size: 24px;
    color: #FFFF;
}
.input-wrapper-form input {
    background-color: #FFF;
    color: #063a41;
}
.input-wrapper-form textarea {
    background-color: #FFF;
    color: #063a41;
}
.info-person {
    color: #063a41;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    line-height: 24px;
    width: 100%;
    text-transform: capitalize;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
textarea {
    outline-width: 0;
    outline-offset: 0;
    outline: 0;
    resize: none;
}
.dta {
    margin-top: 0;
}
.contact-details {
    display: flex;
    width: 100%;
    gap: 12px;
    border-radius: 12px;
    background-color: #FFF;
    padding: 12px;
    margin-top: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact-icon {
    border-radius: 6px;
    background-color: #109c3d;
    max-width: 44px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: center;
}
.contact-icon i {
    font-size: 30px;
    line-height: inherit;
}
.contact-content {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.contact-content h4 {
    color: #063a41;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    width: 100%;
    text-transform: capitalize;
}
.contact-content p {
    font-size: 16px;
    color: #063a41;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: all .35s ease-in-out;
}
.contact-anchor p:hover {
    transition: all .35s ease-in-out;
    color: #063a41;
}
.contact-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.days-txt, .contact-list .time-txt {
    color: #063a41;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    margin-top: 5px;
}
.contact-time-list {
    width: 70%;
}
.map-sec {
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
}
.map-img iframe {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}
.email-data {
    margin-top: 0;
}
.add-to-contact {
    position: fixed;
    width: 100%;
    bottom: 0;
    max-width: 425px;
    left: 0;
    margin: auto;
    right: 0;
    padding-bottom: 20px;
    z-index: 99;
}
.add-to-contact-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
}
.scan-btn, .scan-btn-second {
    width: 60px;
    height: 60px;
    background: #109c3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: drop-shadow(0px 4px 8px rgba(166, 114, 93, 0.32));
}
.scan-btn img {
    filter: invert(0);
}
.scan-btn-second img {
    filter: invert(0);
}
.quotes, .add-to-btn {
    margin-left: auto;
}
.add-to-btn-sec {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #000;
    padding: 6px 6px 6px 30px;
    justify-content: end;
    width: fit-content;
    gap: 8px;
    box-shadow: rgb(0 0 0 / 50%) 1px 6px 20px 0px;
}
.plus-btn {
    border-radius: 24px;
    background: var(--1, #FFF);
    padding: 12px;
}
.plus-btn img {
    filter: invert(0);
}
.add-txt {
    color: var(--1, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
/* scan */
.popup-box-content.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}
.popup-box-content {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 50vh;
    background: #fff;
    padding: 15px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1111829;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
    margin: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.scaner-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.scan-content {
    text-align: center;
    border: 2px solid #111829;
    height: auto;
    width: 250px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 8px;
}
.scanner img {
    width: 100%;
}
.scan-txt {
    padding: 14px;
    background: #111829;
    border-radius: 8px;
    margin-top: 10px;
}
.scan-txt p {
    color: var(--2, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.qr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}
.btn1 a {
    color: var(--1, #FFF);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    background: #111829;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 150px;
}
.popup-box-content-share.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}
.popup-box-content-share {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 230px;
    background: #fff;
    padding: 15px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1111829;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
    margin: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.social-media-img i {
    font-size: 30px;
    color: #111829;
}
.social-media-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}
.social-media-img {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.close-popup p {
    font-weight: 700;
}
.social-media-img:hover {
    background-color: #109c3d;
    transition: all .3s ease;
}
.social-media-img:hover a i {
    color: #FFF;
    transition: all .3s ease;
}
.close-popup {
    display: flex;
    align-items: end;
    cursor: pointer;
    justify-content: end;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #111829;
    margin-bottom: 10px;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
/* ======= Particles style ======= */
.bubble_area {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}
.bubble_area div[class^=bubbles-] {
    height: 1px;
    width: 1px;
    position: absolute;
    background: url(../images/Bubble.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
/* ===== ORIGINAL 10 ===== */
.bubbles-1 {
    bottom: -5px;
    left: 68%;
    animation: animate 10s infinite ease-in -6.57s;
}
.bubbles-2 {
    bottom: -71px;
    left: 97%;
    animation: animate 10s infinite ease-in -5.07s;
}
.bubbles-3 {
    bottom: -71px;
    left: 43%;
    animation: animate 10s infinite ease-in -6.73s;
}
.bubbles-4 {
    bottom: -30px;
    left: 82%;
    animation: animate 10s infinite ease-in -4.04s;
}
.bubbles-5 {
    bottom: -73.4px;
    left: 29%;
    animation: animate 10s infinite ease-in -3.11s;
}
.bubbles-6 {
    bottom: -71px;
    left: 41%;
    animation: animate 10s infinite ease-in -5.95s;
}
.bubbles-7 {
    bottom: -79.4px;
    left: 14%;
    animation: animate 10s infinite ease-in -3.68s;
}
.bubbles-8 {
    bottom: -115.4px;
    left: 90%;
    animation: animate 10s infinite ease-in -3.89s;
}
.bubbles-9 {
    bottom: -44.6px;
    left: 33%;
    animation: animate 10s infinite ease-in -1.09s;
}
.bubbles-10 {
    bottom: -30px;
    left: 59%;
    animation: animate 7s infinite ease-in -.96s;
}
/* ===== EXTRA 10 (NEW) ===== */
.bubbles-11 {
    bottom: -60px;
    left: 5%;
    animation: animate 11s infinite ease-in -2.2s;
}
.bubbles-12 {
    bottom: -50px;
    left: 18%;
    animation: animate 9s infinite ease-in -4.4s;
}
.bubbles-13 {
    bottom: -75px;
    left: 26%;
    animation: animate 12s infinite ease-in -6.6s;
}
.bubbles-14 {
    bottom: -40px;
    left: 37%;
    animation: animate 8s infinite ease-in -1.8s;
}
.bubbles-15 {
    bottom: -90px;
    left: 48%;
    animation: animate 13s infinite ease-in -3.5s;
}
.bubbles-16 {
    bottom: -30px;
    left: 63%;
    animation: animate 9s infinite ease-in -5.2s;
}
.bubbles-17 {
    bottom: -85px;
    left: 72%;
    animation: animate 11s infinite ease-in -2.7s;
}
.bubbles-18 {
    bottom: -60px;
    left: 84%;
    animation: animate 10s infinite ease-in -4.9s;
}
.bubbles-19 {
    bottom: -100px;
    left: 92%;
    animation: animate 14s infinite ease-in -6.3s;
}
.bubbles-20 {
    bottom: -45px;
    left: 55%;
    animation: animate 8s infinite ease-in -3.1s;
}
/* KEYFRAMES same j rehse */
@keyframes animate {
    0% {
        transform: translate3d(-80%, 0, 0) rotate(70deg);
        width: 35px;
        height: 35px;
    }
    100% {
        transform: translate3d(-80%, -800px, 0) rotate(360deg);
        width: 75px;
        height: 75px;
    }
}
/* -------------- Design main center from all -------------  */
.design-video {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
}
.design-video img {
    width: 100%;
    object-fit: cover;
}
.main-title-data-design {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    margin-bottom: 15px;
}
.title-design-toped {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #042d2f;
    border-radius: 20px;
    gap: 10px;
    padding: 0 20px;
}
.dot-design {
    width: 5px;
    height: 5px;
    background-color: #042d2f;
    border-radius: 20px;
}
.title-main-posted {
    font-size: 14px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 24px;
    color: #109c3d;
}
.about-data {
    text-align: center;
}
.about-image {
    width: 100%;
}
.about-image img {
    width: 100%;
    object-fit: cover;
}
.title-main {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #042d2f;
    margin-top: 10px;
}
.title-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #042d2f;
    margin-top: 5px;
}
.social-icon-pet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.social-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .35s ease-in-out;
    background-color: #109c3d;
}
.social-data img {
    max-width: 20px;
    width: 100%;
    filter: brightness(100%);
}
.social-data:hover {
    background-color: #FFF;
    transition: all .35s ease-in-out;
}
.social-data:hover img {
    filter: brightness(0);
}
.services-data {
    text-align: center;
}
.services-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    margin: 0 5px;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services-image-design {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    overflow: hidden;
    background-color: #109c3d;
    width: 60px;
    height: 60px;
}
.services-image-design img {
    width: 100%;
    max-width: 40px;
}
.servise-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #042d2f;
    cursor: pointer;
    margin-top: 10px;
}
.servise-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #042d2f;
    margin-top: 5px;
}
.services-all {
    margin-top: 20px;
}
.slick-dots {
    text-align: center;
    margin-top: -10px;
}
.slick-dots li {
    display: inline-block;
    margin: 0 4px;
}
.slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #042d2f;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background-color: #042d2f;
    border-color: #042d2f;
    transform: scale(1.2);
}
.slick-dots li button:hover {
    background-color: #042d2f50;
}
.gallery-mex-design {
    margin-top: 20px;
}
/* Gallry  */
.compensate-for-scrollbar {
    margin: auto !important;
}
.gallry-design-data {
    margin-top: 20px;
    padding: 0 10px;
}
.contact-data {
    margin-top: 20px;
}
.gallary-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}
.gallary-image img {
    width: 100%;
}
.overlay-gallary {
    position: absolute;
    left: 2%;
    top: 3%;
    width: 96%;
    height: 94%;
    content: "";
    background: #042d2f65;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: normal;
    border-radius: 20px;
}
.gallary-image:hover .overlay-gallary {
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.card {
    background: transparent;
    border: none;
}
.project-data {
    text-align: center;
}
.name-class {
    width: 100%;
    position: relative;
}
.name-class input {
    margin-top: 5px;
    padding: 10px;
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    color: #111829 !important;
    border: 1px solid #042d2f12;
}
.name-class input::placeholder {
    color: #042d2f;
}
#time {
    padding-left: 10px;
}
input[type="date"] {
    cursor: pointer;
}
#ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    left: 10px !important;
}
.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #57B33E;
}
.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}
.ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #042d2f;
    font-size: 0.875rem;
    text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {
    background-color: #042d2f6f;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #57B33E;
    color: white;
}
.ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
}
.ui-datepicker-header a>span {
    display: none;
}
.ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
    color: #ea1c29;
    font-weight: 400;
    font-size: 0.75rem;
}
.date-design {
    width: 100%;
    position: relative;
}
.mega-input {
    /* position: relative; */
}
.data-relative img {
    max-width: 24px;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(10%) sepia(11%) saturate(1925%) hue-rotate(176deg) brightness(97%) contrast(100%);
}
.data-relative {
    position: absolute;
    display: flex;
    justify-content: start;
    gap: 10px;
    top: 38px;
    right: 10px;
    padding-left: 0px;
}
.data-relative p {
    font-size: 16px;
    font-weight: 500;
    color: #042d2f;
    line-height: normal;
}
.appoint-ment form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    row-gap: 15px;
}
.name-class label {
    font-size: 16px;
    font-weight: 500;
    color: #042d2f;
}
.button {
    height: 40px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #042d2f;
    overflow: hidden;
    border-radius: 30px;
    color: #042d2f;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
}
.btn-txt {
    z-index: 1;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
}
.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #109c3d;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}
.button:hover {
    box-shadow: 1px 1px 200px #109c3d;
    color: #fff;
    border: none;
}
.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}
.btn-design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.team-data {
    text-align: center;
}
.design-main-member {
    max-width: 180px;
    width: 100%;
    overflow: hidden;
    max-height: 180px;
    border-radius: 15px;
    position: relative;
}
.design-main-member img {
    width: 100%;
    object-fit: cover;
}
.border-design {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    margin: 10px;
    border: 2px dashed #FFF;
    border-radius: 15px;
}
.team-detail {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 24px;
    margin-bottom: 30px;
}
.member-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #111829;
    margin-top: 10px;
}
.skill-mem {
    font-size: 16px;
    font-weight: 400;
    color: #040404;
    line-height: normal;
}
.team-detail-data {
    margin-top: 20px;
}
.blog-margin {
    margin-top: -20px;
}
.blog-data {
    text-align: center;
}
.blog-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    margin: 0 5px;
}
.blog-detail img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.detail-blog-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 24px;
    background-color: #FFFF;
    border-radius: 15px;
    width: 90%;
    padding: 15px;
    position: absolute;
    bottom: 5%;
}
.bloger-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.bloger-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.bloger-name i, p {
    color: #042d2f;
}
.bloger-title-spe {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #042d2f;
    margin-top: 10px;
    cursor: pointer;
}
.bloger-main {
    margin-top: 20px;
}
.bloger-main .slick-dots {
    text-align: center;
    margin-top: 10px;
}
/* Overlay Background */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
/* Popup Box Styling */
.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 90vh;
    background: #fff;
    padding: 15px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
    margin: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Active Class - Show with Animation */
.popup-box.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}
/* Popup Inner Content */
.popup-content {
    position: relative;
    overflow: hidden;
}
/* Close Button */
.close-popup {
    display: flex;
    align-items: end;
    cursor: pointer;
    justify-content: end;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #0000001a;
    margin-bottom: 10px;
}
.blog-image-popup {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.blog-image-popup img {
    width: 100%;
}
.client-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}
.client-most {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.client-most img {
    border-radius: 3px;
    max-width: 30px;
}
.client-most p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #141414;
}
.conment-like {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.conment-like i {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
}
.like {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.like p {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #141414;
}
.blog-title-ander {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #141414;
    margin-top: 20px;
    text-align: center;
}
.blog-descri {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #141414;
    text-align: center;
    margin-top: 5px;
}
.seprate-blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}
.index-back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #FFF;
    background-color: #042d2f;
    padding: 0 30px;
}
.main-separate-design {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.main-separate-design .blog-detail {
    text-align: center;
}
.test-data {
    text-align: center;
}
.all-testimonail {
    margin-top: 10px;
}
.all-testimonail .slick-dots {
    margin-top: -20px;
}
.testimonial-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px 5px;
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 24px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
}
.image-test {
    overflow: hidden;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 3px solid #FFF;
    position: absolute;
    top: -12%;
}
.image-test img {
    width: 100%;
    object-fit: cover;
}
.testimonial-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #042d2f;
    margin-top: 30px;
    text-align: center;
}
.line-design {
    width: 100%;
    height: 1px;
    background-color: #042d2f3c;
    margin-top: 15px;
}
.client-nane {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #042d2f;
    margin-top: 10px;
}
.main-separate-design .services-detail {
    margin-bottom: 0px;
}
/* Popup Box Styling */
.popup-box-dash {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    height: 90vh;
    background: #fff;
    padding: 15px;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    pointer-events: none;
    margin: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* Active Class - Show with Animation */
.popup-box-dash.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}
.display-service {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}
.image-services-detail {
    margin-bottom: 15px;
}
.display-service .image-services-separate {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.image-services-separate img {
    width: 100%;
    object-fit: cover;
}
.title-data-services {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #191919;
}
.title-data-services-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-top: 5px;
}
.faq-container {
    max-width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faq-item {
    background: #fff;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    width: 100%;
}
.faq-question {
    cursor: pointer;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    background: #e0e0e0;
    justify-content: space-between;
}
.faq-question:hover {
    background: #e0e0e0;
}
.faq-answer {
    display: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #042d2f;
    line-height: 24px;
}
.faq-question i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faq-question p {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #141414;
}