@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    video {
        width: 100%;
    }
}
@media (min-width:380px) and (max-width:425px) {
    .container {
        width: 100%;
    }
}
@media (max-width:380px) {
    .container {
        width: 100%;
    }
    .video-bg img {
        left: 0px;
    }
    .slick-initialized .slick-slide {
        margin: 0 5px;
    }
    .slider-box {
        margin: 0px;
    }
    .clint-review-box {
        margin: 0 5px;
        padding: 10px
    }
    .mark-data {
        display: none !important;
    }
    .clint-review-box {
        margin: 0px;
    }
    .packages-title {
        font-size: 22px;
    }
    .button-design {
        padding: 5px 0;
    }
    .packages-ul {
        margin-top: 10px;
    }
    .packages-li {
        font-size: 16px;
        line-height: 34px;
    }
    .package-list {
        font-size: 24px;
        line-height: 30px;
    }
    .blog-data {
        padding: 10px;
    }
    .blog-name {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
    }
    .blog-date {
        display: none;
    }
    .popup-box {
        padding: 10px;
    }
    .blog-title {
        font-size: 18px;
        line-height: 26px;
        margin-top: 10px;
    }
    .like p {
        display: none;
    }
    .conment-like {
        gap: 10px;
    }
    .blog-descri {
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
    }
    .second-title {
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
    }
    .contact-time-list {
        width: 100%;
    }
    .contact-content p {
        margin-top: 10px;
    }
    .slider-data::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 85%;
        display: block;
        z-index: 1;
        content: "";
        transition: opacity .65s cubic-bezier(.05, .2, .1, 1);
        cursor: pointer;
        background: linear-gradient(to bottom, transparent, #000000e8 100%);
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
    .content a {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .data-first {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    .video-bg img {
        bottom: -44%;
    }
    .title-font {
        line-height: 30px;
    }
}
@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}