@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    video {
        width: 100%;
    }
}
@media (min-width:380px) and (max-width:425px) {
    .container {
        width: 100%;
    }
}
@media (max-width:380px) {
    .container {
        width: 100%;
    }
    .video-bg img {
        left: 0px;
        bottom: -6%;
    }
    iframe {
        width: 100%;
        height: 180px;
        max-height: 100%;
    }
    .title-data img {
        width: 100%;
        max-width: 70px;
    }
    .pet-about-title {
        margin-top: 5px;
        font-size: 18px;
        line-height: 28px;
    }
    .social-data {
        width: 30px;
        height: 30px;
    }
    .social-data img {
        max-width: 18px;
    }
    .first-title {
        font-size: 20px;
        line-height: 30px;
    }
    .gallry-design-data {
        padding: 0px;
    }
    .testimonial-detail {
        padding: 10px;
        gap: 10px;
    }
    .blog-title {
        font-size: 18px;
        line-height: 28px;
    }
    .title-data-services {
        font-size: 17px;
        line-height: 28px;
    }
    .faq-question p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media (min-width:280px) and (max-width:320px) {
    .container {
        width: 100%;
    }
}